doctype 5
html
	head
		title= title
		<meta name='apple-mobile-web-app-capable' content='yes' />
		
		<meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
		//- <meta name='viewport' content='width=device-width, initial-scale = 1, user-scalable = no'>
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
		
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/nav.css')
		link(rel='stylesheet', href='/stylesheets/head.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='/javascripts/sidebar.js')
		script(src='/javascripts/gestures.js')
		script(src='/javascripts/script.js')
		script(src='/javascripts/live.js')
	
	body
		.nav
			ul
				li
					input(placeholder='Search', type='text', class='search')
				li News feed
				li Nearby
				li Messages

		.main 
			.head
				ul
					li.head-item
						i.icon.icon-sidebar Menu
					li 

			.contents Innehåll

	script
		window.addEventListener('load', function() {
			setTimeout(function(){
				window.scrollTo(1, 1);
			}, 0);
		});