doctype 5
html
	head
		title= title
		<meta name='apple-mobile-web-app-capable' content='yes' />
		
		<meta name='apple-mobile-web-app-status-bar-style' content='black-translucent'>
		//- <meta name='viewport' content='width=device-width, initial-scale = 1, user-scalable = no'>
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
		
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/sidebar.css')
		link(rel='stylesheet', href='/stylesheets/buttons.css')
		link(rel='stylesheet', href='/stylesheets/head.css')
		link(rel='stylesheet', href='/stylesheets/icons.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
		script(src='/javascripts/sidebar.js')
		script(src='/javascripts/gestures.js')
		script(src='/javascripts/script.js')
		script(src='/javascripts/live.js')
	
	body
		.nav
			ul
				li.nav-search
					input(placeholder='Sök program, kanal, skådis', type='text', class='input-search')
				li.nav-header
				li.nav-item Logga in
				li.nav-header
				li.nav-item.active Tablå
				li.nav-item Välj kanaler
				li.nav-header 
				li.nav-item Feedback
				li.nav-item tv.nu på Facebook

		.main 
			.head
				ul
					li.head-item
						i#btnSidebar.btn Meny
					li.head-item.head-title My App

			.contents Innehåll

	script
		window.addEventListener('load', function() {
			setTimeout(function(){
				window.scrollTo(1, 1);
			}, 0);
		});