.head {
    font-weight: normal;
    padding: 15px 15px;
    color: white;
    width: 100%;
    display: block;
    background: -webkit-gradient(linear, left top, left bottom,
                 color-stop(0%,#43495B), 
                 color-stop(100%, #262B3B));
}