.head {
    font-weight: normal;
    color: white;
    width: 100%;
    display: block;
    border-bottom: 1px solid #272D3A;

    box-sizing: border-box;

    background: -webkit-gradient(linear, left top, left bottom,
                 color-stop(0%,#43495B), 
                 color-stop(100%, #262B3B));

    background: -webkit-gradient(linear, left top, left bottom,
                 color-stop(0%,#33394B), 
                 color-stop(100%, #161B2B));
}

.head, .head ul {
    height: 42px;
}

.head ul {
    display: table-cell;
    vertical-align: middle;
}

.head .head-item {
    padding: 0px 8px;
    display: inline;
}

.head .head-title {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}