* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #fff;
	/*min-height: 480px;*/
	min-height: 897px;
	overflow-x: hidden;
	overflow: hidden;
 	font: 20px "Lucida Grande", Arial, Helvetica, sans-serif;
 	width: 100%;

	background-color: #eee;

 	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;

    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

input {
	outline: none;
}

.contents {
	padding: 15px 15px;
	border-top: 1px solid #3C4153;
}

